*{
  margin: 0px;
  text-decoration: none;
  
}

a{
  color: black;
}
header{
  padding: 30px;
  text-align: center;
  background-color: deepskyblue;
}
header h1{
  font-size: 40px;
}

nav{
  background-color: #333;
  overflow: hidden;
}

nav a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  float: left;
  font-style: bold 700;
}

.nav a:hover {
  background-color: skyblue;
}

.body{
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top:10px;
 
}
.maths
{
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  position: relative;
  top: 10px;
  font-size: 17px;
  border-radius: 20px
}

.sst
{
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  position: relative;
  top: 10px;
  font-size: 17px;
  border-radius: 20px
}
.hindi
{
  width: 12%;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 5px;
  position: relative;
  bottom: 95px;
  left: 30px;
  font-size: 17px;
  border-radius: 20px
}

.flight
{
  width: 30%;
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  font-size: 17px;
  border-radius: 20px
}

.footprints
{
  width: 30%;
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  font-size: 17px;
  border-radius: 20px
  
}

.chem
{
  width: 20%;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 10px;
  position: relative;
  bottom: 120px;
  left: 10px;
  font-size: 17px;
  border-radius: 20px
  
}

.bio
{
  width: 16%;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 10px;
  font-size: 17px;
  border-radius: 20px;
  position: relative;
  left: 210px;
  bottom: 115px;
}

.phy
{
  width: 16%;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 5px;
  font-size: 17px;
  border-radius: 20px;
  position: relative;
  left: 50px;
  bottom: 340px;
}
.lab
{
  width: 16%;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 5px;
  font-size: 17px;
  border-radius: 20px;
  position: relative;
  left: 0px;
  bottom: 60px;
}


footer {
  margin-top: auto;
  background-color: #333;
  padding: 20px;
  text-align: center;
  
  
}
footer h2 {
   color: white;
 }