*{
  margin: 0px;
  text-decoration: none;
}

header{
  padding: 30px;
  text-align: center;
  background-color: deepskyblue;
}
header h1{
  font-size: 40px;
}

nav{
  background-color: #333;
  overflow: hidden;
}

nav a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  float: left;
  font-style: bold 700;
}

.nav a:hover {
  background-color: skyblue;
}

.body{
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  top:10px;
 
}
.lencho
{
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  position: relative;
  top: 10px;
  font-size: 17px;
  border-radius: 20px
}

.editor
 {
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  position: relative;
  top: 10px;
  font-size: 17px;
  border-radius: 20px
}
.nelson
{
  width: 85px;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  position: relative;
  font-size: 17px;
  border-radius: 20px
}

.dust
{
  width: 30%;
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  font-size: 17px;
  border-radius: 20px
}

.fire
{
  width: 30%;
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  font-size: 17px;
  border-radius: 20px
  
}

.zoo
{
  width: 25%;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 20px;
  font-size: 17px;
  border-radius: 20px
  
}

.bio
{
  width: 16%;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 10px;
  font-size: 17px;
  border-radius: 20px;
  position: relative;
}

.phy
{
  width: 16%;
  border: 10px solid red;
  padding: 20px;
  margin: 20px;
  background-color: orange;
  line-height: 5px;
  font-size: 17px;
  border-radius: 20px;
  position: relative;
}

footer {
  margin-top: auto;
  background-color: #333;
  padding: 20px;
  text-align: center;
  
  
}
footer h2 {
   color: white;
 }